#right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    float: left;
    width: 63%;
    height: 100%;
}

#right-panel {
    float: right;
    width: 34%;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.panel {
    height: 100%;
    overflow: auto;
}